.div{
    width: 180px;
    height: 60px;
    font-size: 20px;
    margin-left: 550px;
    align-items: center;

}
.a{
    text-decoration: none;
}
.span{
    
    color:'white';
    padding: 5px;
    
}
.div2{
   margin-left:520px ;
    
}